#header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.header--logo{
  grid-area: 1/1/2/2;
  padding-left: 5%;
}
.header--hosting-btn{
  grid-area: 2/1/3/2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 2px #0065FC;
  padding: 0 1rem;
  color: #000;
  text-decoration: none;
  font-size: 1rem;
}
.header--activitie-btn{
  grid-area: 2/2/3/3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 2px #f2f2f2;
  padding: 0 1rem;
  color: #000;
  text-decoration: none;
  font-size: 1rem;
}
.header--signup-btn{
  grid-area: 1/2/2/2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
  padding-right: 5%;
  color: #000;
  text-decoration: none;
  font-size: 1rem;
}

@media screen and (min-width: 667px) {
  #header{
    grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0 5%;
  }

  .header--logo {
    grid-column: 1/2;
    padding-left: 0;
  }

  .header--hosting-btn{
    grid-column: 3/4;
    grid-row: 1/2;
    border-top: solid 2px #0065FC;
    border-bottom: none;
  }

  .header--activitie-btn{
    grid-column: 4/5;
    grid-row: 1/2;
    border-top: solid 2px #f2f2f2;
    border-bottom: none;
  }

  .header--signup-btn{
    grid-column: 5/6;
    padding-right: 0;
  }
}